.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: aquamarine;
}

.container {
    width: 1600px;
    max-width: 100%;
    // padding: 0 24px;
    // margin-left: 100px;
    margin-top: 50px;

    display: flex;
}
.content {
    flex: 1;
    overflow-x: hidden;
    overflow: hidden;
}
